
*{
margin: 0;
padding: 0;
font-family: "微软雅黑";
font-weight: normal;
}
.input-active{
color:red;
}

.main-inner{
width: 1003px;
height: 1595px;
margin: 0 auto;
}
.top{
height: 271px;
margin-top: 43px;
width: 1001px;
border: 1px solid #999999;
}
.top-zuoshang{
width: 259px;
height: 36px;
margin-top: 26px;
}
.top-zuoshang img{
float: left;
}
.top-zuoshang h3{
float: left;
line-height: 36px;
font-size: 23px;
font-weight: normal;
}
.top-zuoshang span{
font-size: 16px;
color: #999999;
}
.top-youxia{
width: 315px;
height: 166px;
margin-left: 259px;
margin-top: 11px;
}
.yx-top{
width: 314px;
height: 39px;
}

.yx-mid{
width: 314px;
height: 39px;
margin-top: 25px;
margin-bottom: 25px;
}
.yx-but{
width: 314px;
height: 39px;
}
.top-youxia h3{
width: 80px;
height: 39px;
text-align: right;
line-height: 39px;
font-size: 16px;
float: left;
}
.top-youxia input{
display: block;
width: 200px;
height: 37px;
margin-left: 21px;
border: 1px solid #999999;
float: left;
line-height: 37px;
color: #ccc;
padding-left: 10px;
}	
.mid{
width: 1001px;
height: 513px;
margin-top: 36px;
border: 1px solid #999999;
}
.mid-zuoshang{
width: 259px;
height: 36px;
margin-top: 26px;
}
.mid-zuoshang img{
float: left;
}
.mid-zuoshang h3{
float: left;
line-height: 36px;
font-size: 23px;
font-weight: normal;
}
.mid-zuoshang span{
font-size: 16px;
color: #999999;
}
.mid-youxia{
width: 669px;
height: 402px;
margin-top: 18px;
margin-left: 250px;
}
.xingzhi{
width: 318px;
height: 39px;
}
.xingzhi-list{
float: left;
border: 1px solid #999999;
margin-left: 22px;
}
.numm{
float: left;
width: 104px;
height: 37px;
line-height: 37px;
font-size: 16px;
text-align: center;
list-style:none;
color: black;
text-decoration: none;
}
#gongsi{
	border-right: 1px solid #999999;
}

.xingzhi-active{
	background-color: #66cccc;
	color: white; 
}
.chufa{
width: 314px;
height: 39px;
margin-top: 21px;
}
.mudi{
width: 314px;
height: 39px;
margin-top: 21px;
}
.shijian{
width: 1000px;
height: 39px;
margin-top: 21px;
}
#zuizao{
width: 180px;
float: left;
}
#zuiwan{
width: 180px;
float: left;
margin-left: 0;
}
#zhi{
width: 42px;
height: 39px;
line-height: 39px;
text-align: center;
}
.tsfather{
width: 520px;
height: 39px;
margin-top: 21px;
}
.tianshu{
width: 314px;
height: 39px;
float: left;
}
#tian{
width: 36px;
}
#zengjian{
width: 140px;
}
.rsfather{
width: 1000px;
height: 39px;
margin-top: 21px;
}
.renshu{
width: 314px;
height: 39px;
float: left;
}
.chengren{
width: 300px;
height: 39px;
float: left;
}
#chengren{
width: 60px;
}
#ertong{
width: 40px;
float: left;
}
.yusuan{
width: 314px;
height: 39px;
margin-top: 21px;
}
.mid-youxia h3{
width: 80px;
height: 39px;
text-align: right;
line-height: 39px;
font-size: 16px;
float: left;
}
.mid-youxia input{
display: block;
width: 200px;
height: 37px;
margin-left: 21px;
border: 1px solid #999999;
float: left;
line-height: 37px;
color: #ccc;
padding-left: 10px;
}	
.but{
width: 1001px;
height: 615px;
border: 1px solid #999999;
margin-top: 37px;
}
.but-zuoshang{
width: 259px;
height: 36px;
margin-top: 26px;
}
.but-zuoshang img{
float: left;
}
.but-zuoshang h3{
float: left;
line-height: 36px;
font-size: 23px;
font-weight: normal;
}
.but-zuoshang span{
font-size: 16px;
color: #999999;
}
.but-youxia{
width: 671px;
height: 489px;
margin-left: 259px;
margin-top: 17px;
}
.but-left{
width: 80px;
height: 489px;
float: left;
}
.but-left h3{
width: 80px;
height: 37px;
line-height: 37px;
text-align: center;
color: #999999;
font-weight: normal;
font-size: 16px;
margin-bottom: 30px;
}
.but-right{
width: 537px;
height: 487px;
margin-left: 18px;
float: left;
}
.guo,.xing,.zhu{
width: 515px;
height: 39px;
margin-bottom: 30px;
}
.num{
display: block;
text-decoration: none;
width: 90px;
height: 37px;
border: 1px solid #999999;
float: left;
line-height: 37px;
text-align: center;
margin-right: 10px;
color: black;
}
.a-active{
background-color: #66cccc;
color: white;
}
.but-right textarea{
width: 515px;
height: 200px;
border: 1px solid #999999;
}
#tijiao{
width: 212px;
height: 43px;
display: block;
line-height: 43px;
text-align: center;
text-decoration: none;
margin-top: 34px;
margin-left: 155px;
background-color: #66cccc;
color: white;
font-size: 24px;
border: none;
}
