html,body {
	height: 100%;
	width: 100%;
}
.box {
	height: 100%;
	background: #fff url(../images/pic.jpg) center 1.23rem no-repeat;
	background-size: 63%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
a#btn {
	display: block;
	text-decoration: none;
	font-size: .30rem;
	letter-spacing: 2px;
	font-weight: lighter;
	margin-top: 7rem;
	width: 4.12rem;
	height: .66rem;
	background-color: #ff6000;
	text-align: center;
	line-height: .66rem;
	color: #fff;
	font-family: MicroSoft YaHei;
	border-radius: .06rem;
}
a#btn:active {
	background-color: #cc4d00;
}